/* палітра кольорів */
/* колір основного тексту #757575 */
/* колір другорядного тексту #212121 */
/* акцент #2196F3*/
/* колір тексту logo #000000 */
/* білий колір тексту та основного фону #FFFFFF */
/* колір фону hero та footer #2F303A*/
/* другорядний колір фону #F5F4FA */
/* колір рамок елеметів портфоліо #EEEEEE */
/* колір іконок соцмереж #AFB1B8 */
:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --accent-button: #c4c4c4;
  --logo-text-color: #000000;
  --white-text-bg: #ffffff;
  --bg-color-hero-footer: #2f303a;
  --bg-secondary-color: #f5f4fa;
  --border-color-portfolio: #eeeeee;
  --border-color-header: #ececec;
  --bg-secondary-network: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
  background-color: var(--white-text-bg);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}
/* заголовки які не будуть відображаться */
.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  color: var(--secondary-text-color);
  margin: 0;
  padding: 0;
}
.main__title {
  padding: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.current-page {
  color: var(--accent-color);
}
/* -----logo----- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__accent {
  color: var(--accent-color);
}
.logo--light-theme {
  margin-right: 93px;
  color: var(--logo-text-color);
}
.logo--dark-theme {
  color: var(--white-text-bg);
}
/*-----social-network-----*/
.social-network__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social-network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.social-network__link:hover,
.social-network__link:focus {
  color: var(--white-text-bg);
  background-color: var(--accent-color);
}
.social-network__link--light-team {
  color: var(--bg-secondary-network);
  background-color: transparent;
}
.social-network__link--dark-theme {
  color: var(--white-text-bg);
  background-color: rgba(255, 255, 255, 0.1);
}
.social-network__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
/* -----button----- */
.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-text-bg);
  background-color: var(--accent-color);
  box-shadow: none;
  border-width: 0;
  border-radius: 4px;
  transition: box-shadow 250ms var(--timing-function);
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn--hero {
  display: block;
  min-width: 216px;
  padding: 10px 32px;
  margin: 0 auto;
}
.btn--footer {
  display: inline-flex;
  gap: 10px;
  min-width: 200px;
  padding: 10px 28px;
  margin-left: 10px;
}
.btn--modal {
  display: block;
  min-width: 200px;
  padding: 10px 52px;
  margin: 0 auto;
}

/*----- header----- */
.header {
  border-bottom: 1px solid var(--border-color-header);
}
.main-header,
.main-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav {
  display: flex;
}
.nav__item {
  position: relative;
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--secondary-text-color);
  transition: color 250ms var(--timing-function);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
.current-page::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact__link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  transition: color 250ms var(--timing-function);
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__item:last-child {
  margin-left: 30px;
}
.contact__link {
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--primery-text-color);
}
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

/*----- section hero----- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bg-color-hero-footer);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--white-text-bg);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.backdrop {
  position: fixed;
  top: 0;
  right: auto;
  left: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop__is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-text-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.button--modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-text-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--logo-text-color);
  transition: color 250ms var(--timing-function);
}
.button__icon--modal {
  fill: currentColor;
}
.button--modal:hover,
.button--modal:focus {
  color: var(--accent-color);
}
/*----- section hero----- */

/*----- section features----- */

.features__list {
  display: flex;
}
.features__item {
  width: 270px;
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}
.features__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}
.features__box {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.features__icon {
  width: 70px;
  height: 70px;
  display: block;
}
/*----- section features----- */

/*-----section work----- */
.work {
  padding-top: 0;
}
.work__list {
  display: flex;
}
.work__item {
  position: relative;
  margin-right: 30px;
}
.work__item:last-child {
  margin-right: 0;
}

.work__card {
  display: block;
  max-width: 100%;
  height: auto;
}
.work__action {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-bg);
}

/*-----section work----- */

/*-----section team----- */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: var(--bg-secondary-color);
}
.team__list {
  display: flex;
}
.team__item {
  margin-right: 30px;
}
.team__item:last-child {
  margin-right: 0;
}
.team__img {
  display: block;
}
.card--team {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--white-text-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card__subtitle--team {
  margin-right: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.card__text--team {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.19;
}

/*-----section team----- */

/*-----section client----- */
.client__list {
  display: flex;
  gap: 30px;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: transparent;
  border: 1px solid var(--bg-secondary-network);
  border-radius: 4px;
  fill: var(--bg-secondary-network);
}
.client__icon {
  width: 106px;
  height: 60px;
}
.client__link:hover,
.client__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/*-----section client----- */

/*------sechion-portfolio------*/
.portfolio {
  border-color: var(--border-color-portfolio);
}

/*------- filter-list------ */
.filter__list {
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
}
.filter__item {
  margin-right: 8px;
}
.filter__item:last-child {
  margin-right: 0px;
}
.filter__btn {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--secondary-text-color);
  background-color: var(--bg-secondary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.filter__btn:hover,
.filter__btn:focus,
.filter__btn:active {
  color: var(--white-text-bg);
  background-color: var(--accent-color);
}
.filter-btn:first-child {
  padding-left: 25px;
  padding-right: 25px;
}
/*------- filter-list------ */
.product__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.product__item {
  flex-basis: calc((100% - 30px * 2) / 3);
  height: 404px;
}
.product__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms var(--timing-function);
}
.product__link:hover,
.product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__box {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.product__card {
  display: block;
  max-width: 100%;
  height: auto;
}
.product__overlay {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--white-text-bg);
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 0; */
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}
.product__link:hover .product__overlay {
  transform: translateY(0);
  /* opacity: 1; */
}

.product__element {
  margin: 0;
  padding: 20px 24px 19px;
  background-color: var(--white-text-bg);
  border: 1px solid var(--border-color-portfolio);
  border-top: none;
}

.product__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.9;
}

/*------sechion-portfolio------*/

/*----- footer----- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-hero-footer);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__address {
  flex-basis: 231px;
}

.footer__element {
  margin-bottom: 20px;
}
.address {
  line-height: 1.5;
  font-style: normal;
}
.address__item {
  margin-bottom: 9px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  transition: color 250ms var(--timing-function);
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}
.address__link--address {
  color: var(--white-text-bg);
}
.address__link--contact {
  color: rgba(255, 255, 255, 0.6);
}

.social-network {
  margin-left: 70px;
  flex-basis: 206px;
}
.social-network__text,
.form__text--footer {
  color: var(--white-text-bg);
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*----- footer----- */

/*----- Form------ */
/* footer form */
.form-box--footer {
  padding: 0;
  margin: 0;
  margin-left: auto;
}
.form__text--footer {
  color: form__text--footer;
}
.form__field--footer {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-text-bg);
}
.form__field--footer::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
}
/* footer form */

/* hero modal */
.form {
  padding: 0;
  margin: 0 auto;
  font-family: inherit;
  font-size: inherit;
  line-height: calc(24 / 14);
  letter-spacing: 0.01em;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.form__list {
  margin-bottom: 20px;
}
.form__item {
  position: relative;
}
.form__item:not(:last-child) {
  margin-bottom: 10px;
}
.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
}
.form__field {
  min-width: 448px;
  min-height: 40px;
  padding: 8px 8px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
  color: var(--secondary-text-color);
}
.form__field:last-child {
  padding: 16px;
}
.form__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;

  fill: var(--secondary-text-color);
  transition: fill 250ms var(--timing-function);
}
.form__icon--person {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form__field:focus {
  border-color: var(--accent-color);
}
.form__field:focus + .form__icon {
  fill: var(--accent-color);
}
.form__field--textarea {
  display: block;
  resize: none;
}

.chekbox {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
  align-items: center;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: inherit;
}
.chekbox__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
.checkbox__field {
  position: absolute;
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 0;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  border: 1.5px solid var(--secondary-text-color);
  border-radius: 4px;
}
.checkbox__field:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-origin: border-box;
}
.checkbox__label {
  display: inline-block;
  margin-left: 36px;
}
