.header {
  border-bottom: 1px solid var(--border-color-header);
}
.main-header {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.main-nav {
  @extend .main-header;
}
.nav {
  display: flex;
  &__item {
    position: relative;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
    color: var(--secondary-text-color);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.current-page::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.contact {
  display: flex;
  margin-left: auto;
  &__item:last-child {
    margin-left: 30px;
  }
  &__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 31px;
    color: var(--primery-text-color);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
